<div id="recentPasses">
    {# Table header #}
    <div class="data-row grid-cols-[48px_1fr_100px_100px_80px] text-xs font-mono text-ink-3 !border-b-border !py-2" style="grid-template-columns: 48px 1fr 100px 100px 80px;">
        <span></span>
        <span>Time</span>
        <span>Speed</span>
        <span>Duration</span>
        <span></span>
    </div>
    <div id="passes-list">
        {% for item in passes %}
        {% include "partials/pass_item.html" %}
        {% endfor %}
    </div>
</div>
